body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px !important;
  width: 100%;
}

.btn-loadmore {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #010101;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  min-height: 52px;
  padding: 12px 40px;
  line-height: 25px;
}
.blog-listing-section {
  padding: 100px 0;
  background-color: #ffffff;
  .blog-heading {
    margin-bottom: 100px;
    h1 {
      font-weight: 800;
      font-size: 36px;
      line-height: 46px;
      color: #010101;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 40px;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 3px;
        width: 25px;
        border-radius: 100px;
        background-color: #626dfc;
      }
    }
    p {
      color: #999999;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
    }
  }

  .blog-listing {
    .blog-item {
      margin-bottom: 20px;
      a {
        display: block;
        img {
          background-color: #fafafa;
          height: auto;
          width: 100%;
        }
      }

      .blog-item-content {
        padding: 40px 0;
        h3 {
          font-size: 12px;
          line-height: 30px;
          text-transform: uppercase;
          font-weight: 600;
          color: #000000;
        }
        h2 {
          font-size: 24px;
          line-height: 32px;
          color: #000000;
          font-weight: 600;
          a {
            color: #000000;
            text-decoration: none;
          }
        }

        p {
          font-size: 12px;
          line-height: 18px;
          font-weight: 400;
          color: #999999;
        }

        ul,
        li {
          list-style: none;
          padding: 0px;
          margin: 0px;
        }
        .post-meta {
          display: inline-block;
          display: flex;
          li {
            display: inline-block;
            padding: 0 5px;
            color: #999999;
            width: 100%;
            a {
              color: #999999;
              display: inline-block;
              font-size: 14px;
              font-weight: 300;
              text-decoration: none;
              &:hover {
                color: #000000;
                text-decoration: none;
              }
            }
            span {
              font-weight: 500;
            }
            i {
              margin-right: 5px;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.blog-baner {
  padding: 70px 0 0 0;
  .banner-img {
    height: 540px;
  }
}

.blog-detail {
  .blog-description {
    background-color: #ffffff;
    width: 100%;
    margin-top: -110px;
    min-height: 500px;

    border-radius: 5px 5px 0 0;

    .blog-description-title {
      padding: 50px;

      h2 {
        font-size: 36px;
        line-height: 60px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .blog-owner {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          list-style: none;
          margin-right: 30px;
          display: inline-block;
          a {
            color: #999999;
            &:hover {
              color: #000000;
              text-decoration: none;
            }
            .owner-pic {
              height: 35px;
              width: 35px;
              border-radius: 100px;
              margin-right: 10px;
            }

            span {
              font-weight: 500;
            }

            i {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .blog-description-info {
      padding: 0 10px 40px 10px;
      p {
        color: #999999;
        font-size: 16px;
        line-height: 25px;
      }
    }

    .social-media {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 90px;
      h3 {
        color: #999999;
        font-size: 18px;
        line-height: 21px;
        margin-right: 50px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        li {
          display: inline-block;
          margin-right: 10px;
          a {
            display: block;
            height: 40px;
            width: 40px;
            border-radius: 100px;
            background-color: #eeeeee;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #454545;
            text-decoration: none;
            border: 1px solid transparent;
            transition: all 0.4 ease-in-out;
            &:hover {
              transition: all 0.4 ease-in-out;
              background-color: #fafafa;
              border-color: #454545;
            }
          }
        }
      }
    }

    .post-pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 90px;
      .post-previous {
        .btn-previous {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          text-decoration: none;
          h3 {
            font-size: 14px;
            line-height: 16px;
            color: #898989;
            font-weight: 300;
            margin-bottom: 0;
            span {
              display: block;
              color: #626dfc;
            }
          }
          img {
            margin-right: 10px;
          }
        }
      }

      .post-next {
        .btn-next {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          text-decoration: none;
          h3 {
            font-size: 14px;
            line-height: 16px;
            color: #898989;
            font-weight: 300;
            margin-bottom: 0;
            span {
              display: block;
              color: #626dfc;
            }
          }
          img {
            margin-left: 10px;
          }
        }
      }
    }

    .comment-section {
      h3 {
        font-size: 18px;
        line-height: 26px;
        position: relative;
        margin-bottom: 30px;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          height: 3px;
          width: 25px;
          border-radius: 100px;
          background-color: #626dfc;
        }
      }

      .comment-list {
        margin-bottom: 40px;
      }
      .comment-post {
        padding-left: 90px;
        position: relative;
        .img-post {
          position: absolute;
          left: 0px;
          top: 0px;
          height: 63px;
          width: 63px;
          border-radius: 100px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .img-content {
          h4 {
            font-size: 18px;
            color: #000000;
            line-height: 36px;
            span {
              color: #999999;
              padding: 0 8px;
              border-right: 1px solid #999999;
              font-size: 14px;
            }
            a {
              display: inline-block;
              padding: 0 8px;
              font-size: 14px;
              color: #626dfc;
              text-decoration: none;
            }
          }

          p {
            font-size: 16px;
            line-height: 24px;
            color: #999999;
          }
        }
      }

      .comment-form {
        h3 {
          font-size: 18px;
          line-height: 26px;
          position: relative;
          margin-bottom: 30px;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            height: 3px;
            width: 25px;
            border-radius: 100px;
            background-color: #626dfc;
          }
        }

        .form-group {
          margin-bottom: 30px;
        }
        .form-control {
          border: #f9f9f9;
          background-color: #f9f9f9;
          color: #969696;
          height: 50px;
          border: 1px solid #f9f9f9;

          &:focus {
            box-shadow: none;
            border: 1px solid #000000;
          }
        }

        textarea.form-control {
          height: 120px;
        }
      }
    }
  }
}

//new changes (22-02-2021)

.comment-section{
  h3 {
      font-size: 18px;
      line-height: 26px;
      position: relative;
      margin-bottom: 30px;
      &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          height: 3px;
          width: 25px;
          border-radius: 100px;
          background-color: #626dfc;
      }
  }

  .comment-list{
      margin-bottom: 40px;
  }
  .comment-post{
      padding-left: 90px;
      position: relative;
      .img-post {
          position: absolute;
          left: 0px;
          top: 0px;
          height: 63px;
          width: 63px;
          border-radius: 100px;
          overflow: hidden;
          img {
              width: 100%;
          }
      }
      .img-content{
          h4 {
              font-size: 18px;
              color: #000000;
              line-height: 36px;
              span {
                  color: #999999;
                  padding: 0 8px;
                  border-right: 1px solid #999999;
                  font-size: 14px;
              }
              a {
                  display: inline-block;
                  padding: 0 8px;
                  font-size: 14px;
                  color: #626DFC;
                  text-decoration: none;
              }
          }

          p {
              font-size: 16px;
              line-height: 24px;
              color: #999999;
          }
      }
  }

  .comment-form {
      h3 {
          font-size: 18px;
          line-height: 26px;
          position: relative;
          margin-bottom: 30px;
          &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -5px;
              height: 3px;
              width: 25px;
              border-radius: 100px;
              background-color: #626dfc;
          }
      }

      .form-group {
          margin-bottom: 30px;
      }
      .form-control {
          border: #F9F9F9;
          background-color: #F9F9F9; 
          color: #969696;
          height: 50px;
          border: 1px solid #F9F9F9;

          &:focus {
              box-shadow: none;
              border: 1px solid #000000;
          }
      }

      textarea.form-control {
          height: 120px;
      }
  }
}

.blog-detail .blog-description .post-pagination .post-next .btn-next h3 {
  text-align: right;
}

.boldgrid-section a {
  word-break: break-word;
}

.comment-section .comments-area h2.comments-title.h4 {
  margin: 0 0 30px 0;
}

.blog-detail .blog-description .comment-section h3 {
  font-size: 18px;
  line-height: 26px;
  position: relative;
  margin-bottom: 30px;
}

.blog-detail .blog-description .comment-section h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 25px;
  border-radius: 100px;
  background-color: #626dfc;
}

.blog-detail .blog-description .comment-section .comment-list {
  margin-bottom: 40px;
}

.blog-detail .blog-description .comment-section .comment-post {
  padding-left: 90px;
  position: relative;
}

.blog-detail .blog-description .comment-section .comment-post .img-post {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 63px;
  width: 63px;
  border-radius: 100px;
  overflow: hidden;
}

.blog-detail .blog-description .comment-section .comment-post .img-post img {
  width: 100%;
}

.blog-detail .blog-description .comment-section .comment-post .img-content h4 {
  font-size: 18px;
  color: #000000;
  line-height: 36px;
}

.blog-detail .blog-description .comment-section .comment-post .img-content h4 span {
  color: #999999;
  padding: 0 8px;
  border-right: 1px solid #999999;
  font-size: 14px;
}

.blog-detail .blog-description .comment-section .comment-post .img-content h4 a {
  display: inline-block;
  padding: 0 8px;
  font-size: 14px;
  color: #626DFC;
  text-decoration: none;
}

.blog-detail .blog-description .comment-section .comment-post .img-content p {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.blog-detail .blog-description .comment-section .comment-form h3 {
  font-size: 18px;
  line-height: 26px;
  position: relative;
  margin-bottom: 30px;
}

.blog-detail .blog-description .comment-section .comment-form h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 25px;
  border-radius: 100px;
  background-color: #626dfc;
}

.blog-detail .blog-description .comment-section .comment-form .form-group {
  margin-bottom: 30px;
}

.blog-detail .blog-description .comment-section .comment-form .form-control {
  border: #F9F9F9;
  background-color: #F9F9F9;
  color: #969696;
  height: 50px;
  border: 1px solid #F9F9F9;
}

.blog-detail .blog-description .comment-section .comment-form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #000000;
}

.blog-detail .blog-description .comment-section .comment-form textarea.form-control {
  height: 120px;
}

body.blog #content article.card .card-body .entry-footer p.h5 {
  color: #999999;
  font-weight: 400;
  margin: 0 !important;
  transition: none;
}

body.blog #content article.card .card-body .entry-footer p.h5 a {
  color: inherit;
  font-weight: 500;
  margin: 0 0 0 1px;
  transition: none;
}

body.blog #content article.card .card-body .entry-footer p.h5 i.fas.fa-user {
  margin: 0 1px 0 0;
  transition: none;
}

body.blog #content article.card .card-body .entry-footer p.h5:hover {
  color: #000;
  transition: none;
}

.blog-detail .comment-section .form-submit input#submit {
  color: #010101;
  font-weight: 500;
}



@media (max-width: 767px) {
  .blog-baner {
    .banner-img {
      height: 300px;
    }
  }
  .blog-detail {
    .blog-description {
      margin-top: -90px;
      .blog-description-title {
        padding: 30px 20px 20px 20px;
        h2 {
          font-size: 22px;
          line-height: 30px;
        }

        .blog-owner {
          li {
            margin-bottom: 10px;
          }
        }
      }

      .blog-description-info {
        padding: 0 10px 20px 10px;
      }

      .social-media {
        margin-bottom: 50px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        h3 {
          margin-bottom: 20px;
        }
      }
      .post-pagination {
        margin-bottom: 50px;
      }
    }
  }

  .post-pagination .post-previous {
    margin: 0 0 20px 0;
  }

  .post-pagination .post-previous {
    margin: 0 0 20px 0 !important;
  }

  .blog-detail .blog-description .post-pagination .post-previous .btn-previous {
    justify-content: flex-start !important;
  }

  .blog-detail .blog-description .post-pagination .btn-previous.btn-next {
    justify-content: flex-end !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blog-detail .comment-section #commentform .comment-form-author {
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
  }

  .blog-detail .comment-section #commentform .comment-form-email {
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
  }
}
